<div class="jumbotron jumbotron-fluid text-center", id="signin-top">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5 shadow-lg mx-auto my-5">
        <h4 class="bg-dark text-light py-3">プロフィール編集</h4>
        <p class="text-light">プロフィール情報を変更する</p>
        <div class="form-body p-5 text-light">
          <%= form_with model:@user, local:true do |f| %>
            <div class="form-group">
              <%= f.text_field :name, autofocus: true, placeholder: "ユーザー名", class: "form-control bg-transparent text-light", id: "user_name" %>
            </div>
            
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
            
            <div class="form-group mt-3">
              <label for="game_image">ユーザーイメージ</label><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
            </div>
            
            <div class="actions mb-3">
              <%= f.submit "変更を保存", class: "btn btn-primary btn-info mt-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>