<div class="jumbotron jumbotron-fluid text-center", id="jumbotron-form">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-5 shadow-lg mx-auto my-5">
        <h4 class="bg-dark text-light py-3">投稿フォーム</h4>
        <p class="text-light">面白かったゲームを紹介する</p>
        <div class="form-body p-5 text-light">
          <%= form_with model: @game, local:true do |f| %>
            <div class="form-group">
              <label for="game_image">画像を選択</label><%= f.attachment_field :image, placeholder: "画像", class: "mx-5", id: "game_image" %>
            </div>
            
            <div class="form-group">
              <%= f.text_field :game_title, placeholder: "ゲームタイトル", class: "form-control bg-transparent text-light", id: "game_title" %>
            </div>
            
            <div class="form-group">
              <%= f.text_area :impressions, placeholder: "感想など", class: "form-control bg-transparent text-light", id: "impressions" %>
            </div>
            
            <!-- タグ -->
            <div class="form-group">
              <%= f.text_field :tag_list, value: @game.tag_list.join(','), class: "form-control" %>
              <!-- 初期値に、joinを設定することで区切り文字の , で区切って複数のタグを入力できる、game.rbにtagを追加したので親クラスのインスタンス@gameを指定しておく -->
            </div>
            
            <!-- 評価 -->
            <div class="form-group row" id="star">
              <%= f.label :rate,'評価 ', class:'col-md-3' %> <!-- col-form-label -->
              <%= f.hidden_field :rate, id: :review_star %>
            </div>
            <!-- 評価javascript -->
            <script>
            $('#star').raty({ // jQuery Raty(jQueryプラグイン)
              size     : 36, // 星のサイズ
              starOff:  '<%= asset_path('star-off.png') %>', // オフ状態イメージのファイル名
              starOn : '<%= asset_path('star-on.png') %>', // オン状態イメージのファイル名
              starHalf: '<%= asset_path('star-half.png') %>', // 星半分状態イメージのファイル名
              scoreName: 'game[rate]', // パラメータ名（gameのrateカラム）
              half: true, // 星を半分単位で表示する
            });
            </script>  
            
            <div class="actions mb-3">
              <%= f.submit "投稿する", class: "btn btn-block btn-info mt-4" %>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>