<div class="game-body">
  <%= attachment_image_tag @game, :image %>
  <p>タイトル：<%= @game.game_title %></p>
  <p>感想：<%= @game.impressions %></p>
  <p>ユーザーネーム：<%= @game.user.name %></p>
  <p>投稿日時：<%= @game.created_at.strftime('%Y/%m/%d') %></p> <!-- created_atカラム：ActiceRecordが自動的にデータを作成した日時を記録する -->
  <% if @game.user == current_user %>
    <%= link_to "削除", game_path(@game), method: :delete %>
  <% end %>
</div>

<div class="comments">
<p>コメント件数：<%= @game.post_comments.count %></p>
<% @game.post_comments.each do |post_comment| %>
  <p></p>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <%= link_to "削除", game_post_comment_path(post_comment.game, post_comment), method: :delete %> <!-- post_commentに結びついたgameとpost_commentの2つを用意 -->
  </div>
  <% end %>
<% end %>
</div>
<div class="new-comment">
<%= form_with(model:[@game, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>
</div>