<!DOCTYPE html>
<html>
  <head>
    <title>GameBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow-lg bg-dark"><!-- 全体に大きめの影 -->
      <nav class="navbar navbar-expand-lg navbar-light"><!-- ブレークポイントで切替表示,テキスト明るめ -->
        <div class="container">
          <!-- ブランドロゴ -->
          <a class="navbar-brand text-light p-1" href="/" alt="ロゴ"><%= image_tag 'controller-1784573_960_720.webp', :size =>'60x50' %>
          <h3 class="d-inline-block p-3">Introduce each other to the <strong>GAME</h3></strong>.</a>
          <button class="navbar-toggler" type="button" data-tpggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><!-- ハンバーガーメニューの枠 -->
            <span class="navbar-toggler-icon"></span><!-- ハンバーガーメニューの三本線 -->
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <!-- ナビゲーションアイコン内のメニュー -->
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to '投稿フォーム', new_game_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to 'マイページ', user_path(current_user.id), class: "nav-link text-light" %>
              </li>
              <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link text-light" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link text-light" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="bg-dark">
      <div class="container">
        <div class="row">
          <div class="mx-auto">
            <p class="text-light mt-3">© Introduce each other to the GAME</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>